.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 320px;
  text-align: center;
  margin: 1rem auto;
  background-repeat: no-repeat;
  background-size: 300px 300px;
  border-radius: 20px;
  box-shadow: grey 0.2rem 0.2rem 10px;
  cursor: pointer;
}

.card:active {
  transform: scale(0.95);
}

.card > div {
  font-weight: bold;
  background: #ffcb05;
  color: #3d7dca;
  border-radius: 0 0 20px 20px;
  font-family: 'Roboto', sans-serif;
}
